.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
    gap:20px;
    padding: 25px;
}
.title{
    font-size: 35px;
    color:var(--text-primary);
    font-weight: 600;
}
.subtext{
    color: var(--text-muted);
    font-family: var(--font-main);
    text-align: center;
    font-size: 20px;
}
.createButton{
    font-family: var(--font-secondary);
    font-weight: 600;
    padding: 13px 24px 13px 20px;
    border:none;
    border-radius: 100px;
    background-color: var(--primary);
    color:var(--text-on-primary);
    cursor: pointer;
}