
.tasks{
    width: 100%;
    
}
.sectionLabel{
    font-size: 15px;
    font-weight: 500;
    padding-left: 14px;
    color: var(--accent);
    border-bottom: 1px solid var(--border);
    
}


.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 25px 20px;
    
}

.list{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--card-background);
    border: solid 1px var(--border);
    min-height: 40px;
    max-height: 600px;
    border-radius: 30px;
}
.item:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.field{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
}