.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 1170px;
}
.title{
    font-family: var(--font-heading);
    font-weight: 400;
    font-size: 100px;
}