.dashboard{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.grid{
    display: grid;
        grid-template-columns: 30% 35% 35%;
        gap: 20px;
}